{erl_opts, [warnings_as_errors, debug_info]}.

{dialyzer_opts, [{warnings, [unmatched_returns]}]}.

{clean_files, [
              "ebin/*.beam",
              "c_src/*.o",
              "priv/inotify",
              "test/test.spec"
              ]}.

{port_specs, [{"priv/inotify", ["c_src/*.c"]}]}.
{deps_dir, ["deps"]}.
{deps, [
        {sheriff, "0.4.*", {git, "https://github.com/extend/sheriff", {tag, "0.4.0"}}}
       ]
}.
